nav{
    padding: 10px 2%;
    justify-content: space-between;
    background: #fff;
    position: sticky;
    top: 0;
    z-index: 10;
}
.nav-left .menu-icon{
    width: 22px;
    margin-right: 25px;
}
.nav-left .logo{
    width: 70px;
}
.nav-left Link{
    display: flex;
}
.nav-middle .search-box{
    border: 1px solid #ccc;
    margin-right: 15px;
    padding: 8px 12px;
    border-radius: 25px;
}
.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
    cursor: pointer;
}
.nav-middle .search-box img{
    width: 15px;
}
.nav-right img{
    width: 25px;
    margin-right: 25px;
}
.nav-right i{
    margin-right: 25px;
    cursor: pointer;
}
.nav-right .user-icon{
    width: 35px;
    border-radius: 50%;
}

@media (max-width:900px){
    .menu-icon{
        display: none;
    }
    .nav-right img{
        display: none;
    }
    .nav-right .user-icon{
        display: block;
        width: 30px;
    }
    .logo{
        width: 90px;
    }
    .nav-middle .search-box input{
        width: 100px;
    }
}
